spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST:renderdb}:${DB_PORT:5432}/${DB_NAME:microstack_prod}
    driver-class-name: org.postgresql.Driver
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:postgres}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false

logging:
  level:
    root: WARN
    com.microstackj.backend: INFO

