.container {
  max-width: 600px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-card,
.list-card {
  padding: 20px;
}

.form-field {
  width: 100%;
  margin-bottom: 10px;
}

mat-toolbar {
  justify-content: center;
  font-size: 20px;
  font-weight: 500;
}

